/* Custom font declarations */
@font-face {
    font-family: 'FiraCodeNerdMono';
    src: url('../Fonts/FiraCodeNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCodeNerdMono';
    src: url('../Fonts/FiraCodeNerdFontMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardH';
    src: url('../Fonts/mazzard-h-11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-image: url('plainbg.png');
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'FiraCodeNerdMono', monospace; /* Use the custom font */
    overflow-x: hidden;
}

/* Additional CSS rules */
h1, h2 {
    font-family: 'MazzardH', sans-serif; /* Use the MazzardH font for headings */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigation a {
    text-decoration: none;
    color: #703002;
    padding: 6px 100px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 200;
}

.navigation a:hover {
    background: #703002;
    color: #fff
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleText {
    position: absolute;
    font-size: 4em;
    color: black;
    transition: opacity 0.3s ease-out;
}

#subText {
    position: absolute;
    font-size: 1em;
    margin-top: 120px;
    text-align: center;
    color: black;
    transition: opacity 0.3s ease-out;
}

#scrollText {
    position: absolute;
    font-size: 1em;
    margin-top: 600px;
    text-align: center;
    color: black; 
}

#ArrowDown {
    width: 30px;
    height: auto;
    position: absolute;
    margin-bottom: -700px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#pyramids {
    width: 105%;
    height: 100vh;
    position: absolute;
    bottom: -350px;
    object-fit: cover;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
}

.OriginsInTheWild {
    padding: 70px;
    margin-top: 500px;
}

.text-and-image {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space between the text and image */
}

.text-content {
    flex: 5; 
    margin-right: 20px;
}

#BengalCat {
    flex: 3; 
    width: 250px; 
    height: auto;
    z-index: 1;
    transition: transform 0.3s ease-out;
    position: relative;
}

.catsdata-textandimage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

#catsdata-viz {
    flex: 1;
}

.catsdata-textcontent {
    flex: 1;
    margin-left: 10px;
}

.CuteCats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    text-align: center;
    max-width: 10000px;
}

.cute-cats-textandimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cute-cats-textcontent {
    margin-bottom: 20px;
}

#LotsOfCuteCats {
    width: 300px;
    height: auto;
    margin-top: 1x;
    z-index: -1;
}

.screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}
